.principal,
.content__column {
  border: 1px solid #bebebe;
  border-radius: 25px;
  box-shadow: 5px 5px 10px -6px #929292;
  padding: 10px;
}
.content__column {
}
.square {
  width: 100%;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.title{
  margin:0;
  font-size: 1em;
  font-weight: lighter;
  text-align: center;
}

.subtitle{
  margin:0;
  font-size: 0.8em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px;
  background-color: #eee;
  border-radius: 5px;
}
.text{
  margin: 0;
  font-size: 0.8em;
}

.square__text{
  margin-top: 10px;
}
.section--left {
  width: 20%;
}

.section--right {
  width: 30%;
}
.principal {
  width: 50%;
  margin-left: 10px;
  margin-right: 10px;
}

.principal__square {
}
  

.principal__square--top {
  background-color: #64b5f6;
  color: white;
  padding: 5px;
}
.principal__square--bottom {
}

.principal__square--bottom p{
  font-size: 0.9em;
  text-align: justify;
}
