*
  border 1px  rgba(black, 0.1)
  box-sizing border-box

body
  margin 0  
  background-color #f7f7f7
  font-family 'Raleway', sans-serif;

.nav
  width 100%
  border-bottom 1px solid #eee
  box-shadow 5px 0 10px #cacaca
  position fixed
  top 0
  background-color #fafafa

  .logo
    height 50px
    position absolute
    width 50px
    margin 5px 30px

    .logo__img
      height 100%
      position absolute
      width 100%

  ul
    font-size 14px
    height 60px
    list-style none 
    margin      0 auto
    margin-left 110px
    padding-left 0
    text-transform uppercase

    .list__item
      cursor pointer
      display inline-block
      height 100%
      line-height 60px
      margin auto -2px 
      text-align center
      width 25%
      min-width 110px
      position relative
      transition 0.2s background-color ease
      &:hover
        background-color #eee
      &::before
        content ""
        width  1px
        height 40px
        background-color #eee
        top 50%
        left 0
        position absolute
        margin-top -20px

.content
  margin 70px auto 0 auto
  display flex
  align-items stretch
  font-size 0.9em
  width 85%

  .section-left,
  .principal,
  .section-right
    border-radius 20px
    box-shadow: 6px 6px 10px -4px rgba(0,0,0,0.2);
    margin 5px
    padding 15px
    color black
    transition 0.2s box-shadow ease
    background-color #fafafa
    .h1
      text-align center
      font-size 1.5em
    .text
      text-align justify
    &:hover
      box-shadow: 6px 6px 10px -4px rgba(0,0,0,0.25)

  .section-left
    border 1px solid rgba(red, 0.2) 
    width 20%

  .principal
    border 1px solid rgba(steelblue, 0.2) 
    width 50%

  .section-right
    border 1px solid rgba(lime, 0.2) 
    width 30%
  
  @media (max-width: 767px)
    display block

    .section-left,
    .principal,
    .section-right
      margin-left  auto
      margin-right auto
      width 80%
    .principal, .section-right
      margin-top 10px




  





      


    

    


